<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/user.css">
    <link rel="stylesheet" href="stylesheets/total.css">
    <link rel="stylesheet" href="stylesheets/home.css">
</head>
<body>
<!--头部--->
<nav class="navbar navbar-inverse nabar-fixed-top myHead">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a class="navbar-brand title">有弹幕·PPT资源共享社区</a>
            </div>
        </div>
        <nav id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right font_1">
                <% if (!logged) { %>
                <li><a  id="land" href="" data-toggle="modal" data-target="#myModal">登录</a></li>
                <li><a  id="register" href="" data-toggle="modal" data-target="#myModal2">注册</a></li>
                <% } else { %>
                <li><a href="users" id="logout"><%=name %></a></li>
                <li><a href="" onclick="logout()" id="logout">注销</a></li>
                <% } %>
                <script>
                    function logout() {
                        document.cookie = "name=";
                        location.href = location.href;
                    }
                </script>
            </ul>
            <!--<form class="navbar-form navbar-right">-->
                <!--<input type="text" placeholder="Search something" class="form-control">-->
                <!--<button type="submit" class="btn btn-success">搜索</button>-->
            <!--</form>-->
        </nav>
    </div>
</nav>
<!-- Modal for sign in -->
<div class="modal fade myBox1" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="margin-left: 30px">登录</h4>
            </div>
            <div class="modal-body myBox2">
                <form id="userdata">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="name" class="control-label myBox3">用户名</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="name" type="email" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="password" class="control-label myBox3">密码</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="password" type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="land-save">确认</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for register -->
<div class="modal fade myBox1" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="margin-left: 30px">注册</h4>
            </div>
            <div class="modal-body myBox2">
                <form id="userdata">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="email" class="control-label myBox3">用户名</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="email" type="email" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="password1" class="control-label myBox3">密码</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="password1" type="password" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="password2" class="control-label">再次输入密码</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="password2" type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="register-save">确认</button>
            </div>
        </div>
    </div>
</div>
<!--横幅-->
<div id="carousel-example-generic" class="carousel slide banner1" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="images/home/h1.jpg" style="height: 400px">
        </div>
        <div class="item">
            <img src="images/home/h2.jpg" style="height: 400px">
        </div>
        <div class="item">
            <img src="images/home/h3.jpg" style="height: 400px">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!--热门-->
<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h3>
                    <span>
                        <img src="images/home/9.png"
                    </span>
                    <span class="myH1">热门PPT推荐</span>
                </h3>
            </div>
            <div class="col-xs-12 col-md-2">
                <h4 class="myH1 myH3 myH31">发现你的兴趣</h4>
            </div>
        </div>
        <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="container-fluid  myBox_3">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                <div>
                                    <a href="look0001"><img src="images/ppt/1.jpg" class="img-responsive center-block" alt="ppt image"></a>
                                </div>
                                <div class="myBox_4">
                                    <p class="text-center">苹果发布会</p>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <div>
                                    <a href="look0002"><img src="images/ppt/2.jpg" class="img-responsive center-block" alt="ppt image"></a>
                                </div>
                                <div class="myBox_4">
                                    <p class="text-center">健康饮食</p>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <div>
                                    <a href="look0003"><img src="images/ppt/3.jpg" class="img-responsive center-block" alt="ppt image"></a>
                                </div>
                                <div class="myBox_4">
                                    <p class="text-center">美国教育</p>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <div>
                                    <a href="look0004"><img src="images/ppt/4.jpg" class="img-responsive center-block" alt="ppt image"></a>
                                </div>
                                <div class="myBox_4">
                                    <p class="text-center">毕业典礼</p>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <div>
                                    <a href="look0005"><img src="images/ppt/5.jpg" class="img-responsive center-block" alt="ppt image"></a>
                                </div>
                                <div class="myBox_4">
                                    <p class="text-center">面试礼仪</p>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <div>
                                    <a href="look0006"><img src="images/ppt/6.jpg" class="img-responsive center-block" alt="ppt image"></a>
                                </div>
                                <div class="myBox_4">
                                    <p class="text-center">求职指导</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container-fluid  myBox_3">
                        <div class="row">
                            <div class="col-xs-4 col-md-2">
                                <div>
                                    <a href="look0001"><img src="images/ppt/7.jpg" class="img-responsive center-block" alt="ppt image"></a>
                                </div>
                                <div class="myBox_4">
                                    <p class="text-center">小米2发布会</p>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <div>
                                    <a href="look0008"><img src="images/ppt/8.jpg" class="img-responsive center-block" alt="ppt image"></a>
                                </div>
                                <div class="myBox_4">
                                    <p class="text-center">宝马X发布会</p>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <div>
                                    <a href="look0009"><img src="images/ppt/9.jpg" class="img-responsive center-block" alt="ppt image"></a>
                                </div>
                                <div class="myBox_4">
                                    <p class="text-center">锤子手机发布会</p>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <div>
                                    <a href="look0010"><img src="images/ppt/10.jpg" class="img-responsive center-block" alt="ppt image"></a>
                                </div>
                                <div class="myBox_4">
                                    <p class="text-center">苹果产品分析</p>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <div>
                                    <a href="look0011"><img src="images/ppt/11.jpg" class="img-responsive center-block" alt="ppt image"></a>
                                </div>
                                <div class="myBox_4">
                                    <p class="text-center">小米公司</p>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <div>
                                    <a href="look0012"><img src="images/ppt/12.jpg" class="img-responsive center-block" alt="ppt image"></a>
                                </div>
                                <div class="myBox_4">
                                    <p class="text-center">孔家文化</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!---分类--->
<div class="container" style="background-color: lightskyblue; margin-top: 40px;">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <h3>
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                <a href="total" class="color1"><span class="myH1">分类PPT入口</span>  </a>
            </h3>
        </div>
        <div class="col-xs-12 col-md-2">
            <h4 class="myH1 myH3">寻找你的兴趣</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-0 col-md-1"></div>
        <div class="col-xs-3 col-md-1">
            <p class="myWord">热点PPT</p>
            <img src="images/total/1.png" height="100px" width="100px" class="img-responsive img-circle">
        </div>
        <div class="col-xs-3 col-md-1">
            <img src="images/total/2.png" height="100px" width="100px" class="img-responsive img-circle">
            <p class="myWord myWord_1">小学教育</p>
        </div>
        <div class="col-xs-3 col-md-1">
            <p class="myWord">中学教育</p>
            <img src="images/total/3.png" height="100px" width="100px" class="img-responsive img-circle">
        </div>
        <div class="col-xs-3 col-md-1">
            <img src="images/total/4.png" height="100px" width="100px" class="img-responsive img-circle">
            <p class="myWord myWord_1">大学教育</p>
        </div>
        <div class="col-xs-3 col-md-1">
            <p class="myWord">专题讲座</p>
            <img src="images/total/5.png" height="100px" width="100px" class="img-responsive img-circle">
        </div>
        <div class="col-xs-3 col-md-1">
            <img src="images/total/6.png" height="100px" width="100px" class="img-responsive img-circle">
            <p class="myWord myWord_1">发布会</p>
        </div>
        <div class="col-xs-3 col-md-1">
            <p class="myWord">社会演讲</p>
            <img src="images/total/7.png" height="100px" width="100px" class="img-responsive img-circle">
        </div>
        <div class="col-xs-3 col-md-1">
            <img src="images/total/8.png" height="100px" width="100px" class="img-responsive img-circle">
            <p class="myWord myWord_1"">全部分类</p>
        </div>
        <div class="col-xs-0 col-md-1"></div>
    </div>
    <br>
</div>
<!--分类1-->
<div class="container mybox5">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="row mybox4 container mybox6">
                <div class="row">
                    <div class="col-md-6 col-xs-6 text-center">
                        <p class="myfont1" style="margin-top: 20px">大场景</p>
                    </div>
                    <div class="col-md-6 col-xs-6"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6"></div>
                    <div class="col-md-6 col-xs-6 text-center">
                        <p class="myfont2" style="margin-bottom: 15px">演讲、发布会<br>毕业、慈善</p>
                    </div>
                </div>
            </div>
            <div class="row mybox7">
                <div class="col-md-6 col-xs-6">
                    <div>
                        <img src="images/ppt/1.jpg" class="img-responsive center-block" alt="ppt image">
                    </div>
                    <div class="myBox_4">
                        <p class="text-center">苹果首个发布会</p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div>
                        <img src="images/ppt/4.jpg" class="img-responsive center-block" alt="ppt image">
                    </div>
                    <div class="myBox_4">
                        <p class="text-center">毕业庆典</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div>
                <img src="images/ppt/13.jpg" class="img-responsive center-block" alt="ppt image">
            </div>
            <div class="myBox_4">
                <p class="text-center">宝马X3发布策划</p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div>
                        <img src="images/ppt/7.jpg" class="img-responsive center-block" alt="ppt image">
                    </div>
                    <div class="myBox_4">
                        <p class="text-center">小米手机2发布</p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div>
                        <img src="images/ppt/9.jpg" class="img-responsive center-block" alt="ppt image">
                    </div>
                    <div class="myBox_4">
                        <p class="text-center">锤子ROM发布会</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div>
                        <img src="images/ppt/14.jpg" class="img-responsive center-block" alt="ppt image">
                    </div>
                    <div class="myBox_4">
                        <p class="text-center">腾讯游戏发布会</p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div>
                        <img src="images/ppt/15.jpg" class="img-responsive center-block" alt="ppt image">
                    </div>
                    <div class="myBox_4">
                        <p class="text-center">华为手机发布会</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mybox5">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="row mybox4 container mybox6">
                <div class="row">
                    <div class="col-md-6 col-xs-6 text-center">
                        <p class="myfont1" style="margin-top: 20px">教育</p>
                    </div>
                    <div class="col-md-6 col-xs-6"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6"></div>
                    <div class="col-md-6 col-xs-6 text-center">
                        <p class="myfont2" style="margin-bottom: 15px">义务教育、高等教育<br>学法指导、心理学</p>
                    </div>
                </div>
            </div>
            <div class="row mybox7">
                <div class="col-md-6 col-xs-6">
                    <div>
                        <img src="images/ppt/1/1.jpg" class="img-responsive center-block" alt="ppt image">
                    </div>
                    <div class="myBox_4">
                        <p class="text-center">编程艺术</p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div>
                        <img src="images/ppt/1/2.jpg" class="img-responsive center-block" alt="ppt image">
                    </div>
                    <div class="myBox_4">
                        <p class="text-center">化学与医疗</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div>
                <img src="images/ppt/1/3.jpg" class="img-responsive center-block" alt="ppt image">
            </div>
            <div class="myBox_4" style="text-align: center">概率论与数理统计</p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div>
                        <img src="images/ppt/1/4.png" class="img-responsive center-block" alt="ppt image">
                    </div>
                    <div class="myBox_4">
                        <p class="text-center">中国工艺美术史</p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div>
                        <img src="images/ppt/1/5.jpg" class="img-responsive center-block" alt="ppt image">
                    </div>
                    <div class="myBox_4">
                        <p class="text-center">甲骨文的演化</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div>
                        <img src="images/ppt/1/6.jpg" class="img-responsive center-block" alt="ppt image">
                    </div>
                    <div class="myBox_4">
                        <p class="text-center">探究DNA</p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div>
                        <img src="images/ppt/1/7.jpg" class="img-responsive center-block" alt="ppt image">
                    </div>
                    <div class="myBox_4">
                        <p class="text-center">现代生物技术</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="javascripts/myHome.js"></script>



</body>
</html>