<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="stylesheets/user.css">
    <link rel="stylesheet" href="stylesheets/total.css">
    <link rel="stylesheet" href="stylesheets/home.css">
    <link rel="stylesheet" href="stylesheets/look.css">
</head>
<body>
<!--头部--->
<nav class="navbar navbar-inverse nabar-fixed-top myHead">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a  href="/" class="navbar-brand title">有弹幕·PPT资源共享社区</a>
            </div>
        </div>
        <nav id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right font_1">
                <% if (!logged) { %>
                <li><a  id="land" href="" data-toggle="modal" data-target="#myModal">登录</a></li>
                <li><a  id="register" href="" data-toggle="modal" data-target="#myModal2">注册</a></li>
                <% } else { %>
                <li><a href="/users" id="logout"><%=name %></a></li>
                <li><a href="" onclick="logout()" id="logout">注销</a></li>
                <% } %>
                <script>
                    function logout() {
                        document.cookie = "name=";
                        location.href = location.href;
                    }
                </script>
            </ul>
            <!--<form class="navbar-form navbar-right">-->
                <!--<input type="text" placeholder="Search something" class="form-control">-->
                <!--<button type="submit" class="btn btn-success">搜索</button>-->
            <!--</form>-->
        </nav>
    </div>
</nav>
<!-- Modal for sign in -->
<div class="modal fade myBox1" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="margin-left: 30px">登陆</h4>
            </div>
            <div class="modal-body myBox2">
                <form id="userdata">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="name" class="control-label myBox3">邮箱</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="name" type="email" class="form-control" placeholder="邮箱">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="password" class="control-label myBox3">密码</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="password" type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="land-save">确认</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for register -->
<div class="modal fade myBox1" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="margin-left: 30px">注册</h4>
            </div>
            <div class="modal-body myBox2">
                <form id="userdata">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="email" class="control-label myBox3">邮箱</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="email" type="email" class="form-control" placeholder="邮箱">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="password1" class="control-label myBox3">密码</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="password1" type="password" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="password2" class="control-label">再次输入密码</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="password2" type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="register-save">确认</button>
            </div>
        </div>
    </div>
</div>
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <div class="slide">
                    <div id="danmuarea">
                        <div id="danmu" style="margin-top: 50px"></div>
                        <div class="show" style="background-color: black">
                            <div style="max-width: 600px;margin:0 auto">
                                <canvas id="the-canvas"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="toolbar">
                        <a href="">
                            <span class="glyphicon glyphicon-share"></span>
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-heart-empty"></span>
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-download-alt"></span>
                        </a>
                        <div class="pull-right">
                            <a href="" id="prev">
                                <span class="glyphicon glyphicon-triangle-left"></span>
                            </a>
                            <span class="page"><span id="page_num" style="font-size: 20px"></span> / <span id="page_count" style="font-size: 20px"></span></span>
                            <a href="" id="next">
                                <span class="glyphicon glyphicon-triangle-right"></span>
                            </a>
                        </div>
                    </div>
                    <div class="ctr" >
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-primary" id="start" onclick="resumer() ">弹幕开始/继续</button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary " onclick="pauser()" style="margin-left: 15px">弹幕暂停</button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary"  onclick="changehide()" id="is-show">弹幕显示/关闭</button>
                            </div>
                            <div class="col-md-5">
                                <div class="col-md-5">
                                    <p>弹幕透明度:</p>
                                </div>
                                <div class="col-md-7">
                                    <input type="range" name="op" id="op" onchange="op()" value="100">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2">
                                <select  name="color" id="color" class="form-control">
                                    <option value="white" selected="selected">白色</option>
                                    <option value="red">红色</option>
                                    <option value="green">绿色</option>
                                    <option value="blue">蓝色</option>
                                    <option value="yellow">黄色</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select name="size" id="text_size" class="form-control">
                                    <option value="1" selected="selected">大文字</option>
                                    <option value="0">小文字</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select name="position" id="position" class="form-control">
                                    <option value="0" selected="selected">滚动</option>
                                    <option value="1">顶端</option>
                                    <option value="2">底端</option>
                                </select>
                            </div>
                            <form id="sendForm">
                                <div class="col-md-4">
                                    <input type="textarea" id="text" class="form-control"/>
                                </div>
                                <div class="col-md-1">
                                    <button id="send" type="submit" class="btn btn-primary">发送</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 comment" id="v-comments">
                <div class="media" v-repeat="comments">
                    <div class="media-left">
                        <a href="">
                            <img src="images/user/amy.jpg" width="64" height="64" alt="" class="img-circle"/>
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="arrow"></div>
                        <p style="color: white">{{content}}</p>
                    </div>
                </div>
            </div>
            <!--<div class="page-control text-center">-->
                <!--<a href="">-->
                    <!--<span class="glyphicon glyphicon-triangle-left"></span>-->
                <!--</a>-->
                <!--<a href="">-->
                    <!--<span class="glyphicon glyphicon-triangle-right"></span>-->
                <!--</a>-->
            <!--</div>-->
        </div>
    </div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="javascripts/jquery.danmu.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/vue/dist/vue.min.js"></script>
<script src="javascripts/myHome.js"></script>
<script src="javascripts/pdf.js"></script>
<script src="javascripts/look.js"></script>
</body>
</html>