<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="stylesheets/user.css">
    <link rel="stylesheet" href="stylesheets/total.css">
    <link rel="stylesheet" href="stylesheets/home.css">
    <style>
        div.slide {
            background-color: lightskyblue;
            padding: 8px;
        }

        div.slide div.show {
            height: 420px;
            background-color: white;
            margin-top: 20px;
        }

        div.slide div.toolbar {
            padding-top: 8px;
            padding-bottom: 3px;
            font-size: 32px;
        }

        div.slide div.toolbar span.page {
            padding-left: 20px;
            padding-right: 20px;
            background-color: white;
            line-height: 1;
            position: relative;
            top: -3px;
        }

        div.slide div.toolbar a:link,
        div.slide div.toolbar a:visited {
            color: mediumblue;
            text-decoration: none;
        }
        div.slide div.toolbar a:hover {
            color: #c6c600;
            text-decoration: none;
        }

        div.slide div.toolbar a:active {
            color: mediumblue;
            text-decoration: none;
        }

        div.send {
            margin-top: 20px;
            margin-bottom: 20px;
            position: relative;
            background-color: lightskyblue;
            height: 42px;
            padding: 8px;
        }

        div.send div.message {
            margin-right: 52px;
        }

        div.send div.message #send {
            width: 100%;
        }

        div.send button {
            position: absolute;
            background-color: mediumblue;
            right: 8px;
            top: 8px;
        }


        div.comment {
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: lightskyblue;
        }

        div.comment .media {
            overflow: visible;
        }
        div.comment .media-left img {
            margin-top: -8px;
        }
        div.comment .media-body {
            position: relative;
            padding: 12px;
            background-color: mediumblue;
            overflow: visible;
            border-radius: 5px;
        }
        div.comment .media-body div.arrow {
            position: absolute;
            width: 0;
            height: 0;
            top: 10px;
            left: -8px;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right: 8px solid mediumblue;
        }

        div.page-control {
            margin-top: 20px;
            font-size: 32px;
        }

        div.page-control a:link,
        div.page-control a:visited {
            color: mediumblue;
            text-decoration: none;
        }
        div.page-control a:hover {
            color: #c6c600;
            text-decoration: none;
        }

        div.page-control a:active {
            color: mediumblue;
            text-decoration: none;
        }
    </style>
</head>
<body>
<!--头部--->
<nav class="navbar navbar-inverse nabar-fixed-top myHead">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a class="navbar-brand title">有弹幕·PPT资源共享社区</a>
            </div>
        </div>
        <nav id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right font_1">
                <li><a  id="land" href="" data-toggle="modal" data-target="#myModal">登陆</a></li>
                <li><a  id="land" href="" data-toggle="modal" data-target="#myModal2">注册</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" placeholder="Search something" class="form-control">
                <button type="submit" class="btn btn-success">搜索</button>
            </form>
        </nav>
    </div>
</nav>
<!-- Modal for sign in -->
<div class="modal fade myBox1" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="margin-left: 30px">登陆</h4>
            </div>
            <div class="modal-body myBox2">
                <form id="userdata">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="name" class="control-label myBox3">邮箱</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="name" type="email" class="form-control" placeholder="邮箱">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="password" class="control-label myBox3">密码</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="password" type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="land-save">确认</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for register -->
<div class="modal fade myBox1" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="margin-left: 30px">注册</h4>
            </div>
            <div class="modal-body myBox2">
                <form id="userdata">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="email" class="control-label myBox3">邮箱</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="email" type="email" class="form-control" placeholder="邮箱">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="password1" class="control-label myBox3">密码</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="password1" type="password" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="password2" class="control-label">再次输入密码</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="password2" type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="register-save">确认</button>
            </div>
        </div>
    </div>
</div>
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <div class="slide">
                    <div class="show" style="background-color: black">
                        <div style="max-width: 600px;margin:0 auto">
                            <canvas id="the-canvas"></canvas>
                        </div>
                    </div>
                    <div class="toolbar">
                        <a href="">
                            <span class="glyphicon glyphicon-share"></span>
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-heart-empty"></span>
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-download-alt"></span>
                        </a>
                        <div class="pull-right">
                            <a href="" id="prev">
                                <span class="glyphicon glyphicon-triangle-left"></span>
                            </a>
                            <span class="page"><span id="page_num"></span> / <span id="page_count"></span></span>
                            <a href="" id="next">
                                <span class="glyphicon glyphicon-triangle-right"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="send">
                    <div class="message">
                        <input id="send">
                    </div>
                    <button style="color: white">发送</button>
                </div>
            </div>
            <div class="col-md-4 comment">
                <div class="media">
                    <div class="media-left">
                        <a href="">
                            <img src="images/user/amy.jpg" width="64" height="64" alt="" class="img-circle"/>
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="arrow"></div>
                        <p style="color: white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem beatae, consequatur deleniti distinctio eveniet exercitationem impedit iste maiores molestias praesentium quas quia quod recusandae sed, suscipit ullam? Animi, voluptatem.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="">
                            <img src="images/user/amy.jpg" width="64" height="64" alt="" class="img-circle"/>
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="arrow"></div>
                        <p style="color: white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, voluptate.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="">
                            <img src="images/user/amy.jpg" width="64" height="64" alt="" class="img-circle"/>
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="arrow"></div>
                        <p style="color: white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, voluptate.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="">
                            <img src="images/user/amy.jpg" width="64" height="64" alt="" class="img-circle"/>
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="arrow"></div>
                        <p style="color: white">Lorem ipsum dolor sit amet,  voluptate.</p>
                    </div>
                </div>
                <div class="page-control text-center">
                    <a href="">
                        <span class="glyphicon glyphicon-triangle-left"></span>
                    </a>
                    <a href="">
                        <span class="glyphicon glyphicon-triangle-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
<button id="prev">Previous</button>
<button id="next">Next</button>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="javascripts/myHome.js"></script>

<!-- for legacy browsers add compatibility.js -->
<!--<script src="../compatibility.js"></script>-->

<script src="javascripts/pdf.js"></script>

<script id="script">
    //
    // If absolute URL from the remote server is provided, configure the CORS
    // header on that server.
    //
    var url = 'pdf/0001.pdf';


    //
    // Disable workers to avoid yet another cross-origin issue (workers need
    // the URL of the script to be loaded, and dynamically loading a cross-origin
    // script does not work).
    //
    // PDFJS.disableWorker = true;

    //
    // In cases when the pdf.worker.js is located at the different folder than the
    // pdf.js's one, or the pdf.js is executed via eval(), the workerSrc property
    // shall be specified.
    //
    // PDFJS.workerSrc = '../../build/pdf.worker.js';

    var pdfDoc = null,
            pageNum = 1,
            pageRendering = false,
            pageNumPending = null,
            scale = 0.8,
            canvas = document.getElementById('the-canvas'),
            ctx = canvas.getContext('2d');

    /**
     * Get page info from document, resize canvas accordingly, and render page.
     * @param num Page number.
     */
    function renderPage(num) {
        pageRendering = true;
        // Using promise to fetch the page
        pdfDoc.getPage(num).then(function(page) {
            var viewport = page.getViewport(scale);
            canvas.height = viewport.height-13;
            canvas.width = viewport.width;

            // Render PDF page into canvas context
            var renderContext = {
                canvasContext: ctx,
                viewport: viewport
            };
            var renderTask = page.render(renderContext);

            // Wait for rendering to finish
            renderTask.promise.then(function () {
                pageRendering = false;
                if (pageNumPending !== null) {
                    // New page rendering is pending
                    renderPage(pageNumPending);
                    pageNumPending = null;
                }
            });
        });

        // Update page counters
        document.getElementById('page_num').textContent = pageNum;
    }

    /**
     * If another page rendering in progress, waits until the rendering is
     * finised. Otherwise, executes rendering immediately.
     */
    function queueRenderPage(num) {
        if (pageRendering) {
            pageNumPending = num;
        } else {
            renderPage(num);
        }
    }

    /**
     * Displays previous page.
     */
    function onPrevPage(e) {
        e.preventDefault();
        if (pageNum <= 1) {
            return;
        }
        pageNum--;
        queueRenderPage(pageNum);
    }
    document.getElementById('prev').addEventListener('click', onPrevPage, false);

    /**
     * Displays next page.
     */
    function onNextPage(e) {
        e.preventDefault();
        if (pageNum >= pdfDoc.numPages) {
            return;
        }
        pageNum++;
        queueRenderPage(pageNum);
    }
    document.getElementById('next').addEventListener('click', onNextPage, false);

    /**
     * Asynchronously downloads PDF.
     */
    PDFJS.getDocument(url).then(function (pdfDoc_) {
        pdfDoc = pdfDoc_;
        document.getElementById('page_count').textContent = pdfDoc.numPages;

        // Initial/first page rendering
        renderPage(pageNum);
    });
</script>
</body>
</html>