<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/user.css">
</head>
<body>
<!---顶部--->
<nav class="navbar navbar-inverse nabar-fixed-top myHead">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a class="navbar-brand title">有弹幕·PPT资源共享社区</a>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right font_1">
            <% if (!logged) { %>
            <li><a  id="land" href="" data-toggle="modal" data-target="#myModal">登录</a></li>
            <li><a  id="register" href="" data-toggle="modal" data-target="#myModal2">注册</a></li>
            <% } else { %>
            <li><a href="" id="logout"><%=name %></a></li>
            <li><a href="" onclick="logout()" id="logout">注销</a></li>
            <% } %>
            <script>
                function logout() {
                    document.cookie = "name=";
                    location.href = location.href;
                }
            </script>
        </ul>
        <!--<form class="navbar-form navbar-right">-->
            <!--<input type="text" placeholder="Search something" class="form-control">-->
            <!--<button type="submit" class="btn btn-success">搜索</button>-->
        <!--</form>-->
    </div>
</nav>
<!-- Modal for sign in -->
<div class="modal fade myBox1" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="margin-left: 30px">登录</h4>
            </div>
            <div class="modal-body myBox2">
                <form id="userdata">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="name" class="control-label myBox3">用户名</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="name" type="email" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="password" class="control-label myBox3">密码</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="password" type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="land-save">确认</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for register -->
<div class="modal fade myBox1" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="margin-left: 30px">注册</h4>
            </div>
            <div class="modal-body myBox2">
                <form id="userdata">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="email" class="control-label myBox3">用户名</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="email" type="email" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="password1" class="control-label myBox3">密码</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="password1" type="password" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="password2" class="control-label">再次输入密码</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input id="password2" type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="register-save">确认</button>
            </div>
        </div>
    </div>
</div>
<!---头像--->
<div class="banner">
    <div align="center">
        <img src="images/user/amy.jpg" alt="portrait" class="img-rounded myPortrait">
    </div>
    <div class="container myCenter">
        <div class="myBox_2">
            <p class="text-center introduce"><%= introduction %></p>
        </div>
        <div class="myBox_1">
            <div>
                <button type="button" class="btn btn-info btn-lg myBut_2" data-toggle="modal" data-target="#myModal3">
                    我的资料
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">我的资料</h4>
                            </div>
                            <div class="modal-body">
                                <form id="userdata">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label for="name" class="control-label">昵称</label>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <input type="email" class="form-control" placeholder="Amy">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                         <label for="gender">性别</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <label class="radio-inline">
                                                            <input type="radio" name="gender" id="gender" value="option1"> 男
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="gender" id="gender" value="option2"> 女
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label for="meeting" class="control-label">出生日期</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input class="form-control" id="meeting" type="date" value="2013-07-30"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label for="favorite" class="control-label">爱好</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <textarea class="form-control" rows="4" id="favorite" placeholder="Amy"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <br><br>
                                            <img src="images/user/4.jpg" class="img-responsive" alt="Responsive image">
                                            <div class="col-md-2 myBox_5">
                                                <a class="btn btn-info myBut_2 " href="#" role="button">上传头像</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="intro" class="control-label">个人介绍</label>
                                        <textarea class="form-control" rows="6" id="intro" placeholder="i love PPT"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" id="save">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-info btn-lg myBut_1" data-toggle="modal" data-target="#myModa2">
                    上传PPT
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">上传PPT</h4>
                            </div>
                            <div class="modal-body">
                                <div class="center_1">
                                    <img src="images/user/5.jpg" class="img-responsive" alt="Responsive image">
                                </div>
                                <div class="col-md-2 myBox_5 center_2">
                                    <!--<a id="ppt-upload" class="btn btn-info myBut_2 " href="#" role="button">上传PPT</a>-->
                                    <span class="btn btn-success fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>选择文件</span>
                                        <!-- The file input field used as target for the file upload widget -->
                                        <input id="ppt-upload" type="file" name="file">
                                    </span>
                                    <!--<input id="ppt-upload" type="file" class="btn btn-info myBut_2" name="files[]" multiple>-->
                                </div>
                                <br><br><br>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <br><br><br><br>
        </div>
    </div>
</div>
<!---我喜欢的ppt--->
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <h3 class="myH1">我喜欢的PPT</h3>
            </div>
            <div class="col-md-2 myBox_5">
                <a class="btn btn-info myBut_2 " href="#" role="button">查看全部</a>
            </div>
        </div>
    </div>
    <h3 class="myLine">----------------------------------------</h3>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container-fluid  myBox_3">
                    <div class="row">
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/1.png" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">机器人的历史</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/2.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">化学医疗</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/3.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">微积分应用</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/4.png" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">中国工艺美术史</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/5.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">甲骨文的演化</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/6.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">生物科技</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <div>
                                <img src="images/ppt/7.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">小米2手机发布</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/8.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">概率论与数理统计</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/9.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">社交网络研究</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/10.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">编程艺术</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/11.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">信息网络技术</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/12.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">自我塑造</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container-fluid  myBox_3">
                    <div class="row">
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/1.png" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">机器人的历史</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/2.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">化学医疗</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/3.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">微积分应用</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/4.png" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">中国工艺美术史</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/5.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">甲骨文的演化</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/6.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">生物科技</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <div>
                                <img src="images/ppt/7.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">小米2手机发布</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/8.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">概率论与数理统计</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/9.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">社交网络研究</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/10.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">编程艺术</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/11.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">信息网络技术</p>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div>
                                <img src="images/total/2/12.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">自我塑造</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <h3 class="myH1">我上传的PPT</h3>
            </div>
            <div class="col-md-2 myBox_5">
                <a class="btn btn-info myBut_2" href="#" role="button">查看全部</a>
            </div>
        </div>
    </div>
    <h3 class="myLine">----------------------------------------</h3>
    <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container-fluid  myBox_3">
                    <div class="row">
                        <div class="col-md-2">
                            <div>
                                <img src="images/total/2/13.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">思维与大脑</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <img src="images/total/2/14.png" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">大脑是怎样思考的</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <img src="images/total/2/15.png" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">线性代数</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <img src="images/total/2/20.png"" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">名人演讲</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <img src="images/total/2/21.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">名人演讲</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <img src="images/total/2/22.png" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">名人演讲</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container-fluid  myBox_3">
                    <div class="row">
                        <div class="col-md-2">
                            <div>
                                <img src="images/total/2/13.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">思维与大脑</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <img src="images/total/2/14.png" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">大脑是怎样思考的</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <img src="images/total/2/15.png" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">线性代数</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <img src="images/total/2/20.png"" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">名人演讲</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <img src="images/total/2/21.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">名人演讲</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <img src="images/ppt/7.jpg" class="img-responsive center-block" alt="ppt image">
                            </div>
                            <div class="myBox_4">
                                <p class="text-center">小米手机发布会</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container">
    <h3 class="myH1">给我留言</h3>
    <h3 class="myLine">----------------------------------------</h3>
    <form>
        <textarea class="form-control" rows="6"></textarea>
        <button type="submit" class="btn btn-info myBut_3 pull-right">&nbsp;&nbsp;&nbsp;发表&nbsp;&nbsp;&nbsp;</button>
    </form>
</div>
<div>
    <br><br><br><br><br><br>
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="javascripts/jquery.ui.widget.js"></script>
<script src="javascripts/jquery.iframe-transport.js"></script>
<script src="javascripts/jquery.fileupload.js"></script>
<script>
    $("#save").click(function() {
        var name = $("#userdata").val();
        $.post('/users/info', {name: name}, function(result) {
           console.log(result);
            if (result.message == 'success') {
                $("#myModal").modal("hide");
            } else {
                alert('error');
            }
        });
    });

    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        var url = '/upload';
        $('#ppt-upload').fileupload({
            url: url,
            dataType: 'json',
            done: function (e, data) {
//                $.each(data.result.files, function (index, file) {
//                    $('<p/>').text(file.name).appendTo('#files');
//                });
                alert('success');
                console.log(data.result);
            },
            progressall: function (e, data) {
//                var progress = parseInt(data.loaded / data.total * 100, 10);
//                $('#progress .progress-bar').css(
//                        'width',
//                        progress + '%'
//                );
            }
        });
    });
</script>
</body>
</html>