<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/user.css">
</head>
<body>
<!---顶部--->
<nav class="navbar navbar-inverse nabar-fixed-top myHead">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a class="navbar-brand title">有弹幕·PPT资源共享社区</a>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right font_1">
            <li><a  id="land" href="">登陆</a></li>
            <li><a  id="register" href="">注册</a></li>
        </ul>
        <form class="navbar-form navbar-right">
            <input type="text" placeholder="Search something" class="form-control">
            <button type="submit" class="btn btn-success">搜索</button>
        </form>
    </div>
</nav>
<!---头像--->
<div class="banner">
    <div align="center">
        <img src="images/portrait.jpg" alt="portrait" class="img-rounded myPortrait">
    </div>
    <div class="container myCenter">
        <div class="myBox_2">
            <p class="text-center introduce"><%= introduction %></p>
        </div>
        <div class="myBox_1">
            <div>
                <a class="btn btn-info myBut_2" href="#" role="button">我的资料</a>
            </div>
            <div>
                <a class="btn btn-info myBut_1" href="#" role="button">上传PPT </a>
            </div>
        </div>
        <div>
            <br><br><br><br>
        </div>
    </div>
</div>
<!---我喜欢的ppt--->
<div class="container">
    <h3 class="myH1">我喜欢的PPT</h3>
    <h3 class="myLine">----------------------------------------</h3>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="images/1.jpg" alt="...">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="images/2.jpg" alt="...">
                <div class="carousel-caption">
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container">
    <h3 class="myH1">我上传的PPT</h3>
    <h3 class="myLine">----------------------------------------</h3>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="images/1.jpg" alt="...">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="images/2.jpg" alt="...">
                <div class="carousel-caption">
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container">
    <h3 class="myH1">给我留言</h3>
    <h3 class="myLine">----------------------------------------</h3>
    <form>
        <textarea class="form-control" rows="6"></textarea>
        <button type="submit" class="btn btn-info myBut_3 pull-right">&nbsp;&nbsp;&nbsp;发表&nbsp;&nbsp;&nbsp;</button>
    </form>
</div>
<div>
    <br><br><br><br><br><br>
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>