a.color1:link{color: black ; text-decoration:none;} /*常规时候的样式*/
a.color1:visited{color: black; text-decoration:none;} /*鼠标指上去的样式*/
a.color1:hover {color: black; text-decoration:underline;} /*访问过后的样式*/
.banner1 {
    margin-top: -20px;
    height: 400px;
}
.bk {
    background-color: lightskyblue;
}
@media screen and (min-width:600px) {
    .myH31 {
        margin-top: 50px;
        margin-left: -70px;
    }
}
@media screen and (max-width:599px) {
    .myH31 {
        margin-top: -20px;
        margin-left: 95px;
    }
}
@media screen and (min-width:600px) {
    .banner2 {
        margin-top: 30px;
    }
}
@media screen and (max-width:599px) {
    .banner2 {
        margin-top: 50px;
        width: 93%;

        }
}
.myH32 {
    margin-top: 30px;
    margin-left: -90px;
}
.myRow {
    margin-left: 50px;
}
.size2 {
    width: 180px;
    height: 100px;
}
.myBox_h1 {
    margin-top: 30px;
}
.myWord {
    margin-left: 5px;
}
.myWord_1 {
    margin-top: 5px;
}
.myBox1 {
    color: black;
}
@media screen and (min-width:600px) {
    .myBox2 {
        padding-left: 60px;
        padding-right: 60px;
    }
}
.myBox3 {
    margin-left: 50px;
}
.mybox4 {
    background-color: lightskyblue;
    padding-left: 15px;
    padding-right: 15px;
}
.myfont1 {
    font-size: xx-large;
    font-weight: bold;
}
.myfont2 {
    font-size: large;
    font-weight: bold;
}
.mybox5 {
    margin-top: 30px;
}
@media screen and (min-width:600px) {
    .mybox6 {
        width: auto;
    }
}
@media screen and (max-width:599px) {
    .mybox6 {
    }
}
.mybox7 {
    margin-top: 20px;
}